<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
<meta charset="UTF-8">
<title title th:text="${author.authorName}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="~{fragments/header :: pageHeader}"></div>
	<h1 th:text="${author.authorName}">書籍名</h1>
	
	<hr>
	<div>
		<strong>著者名:</strong>
		<span th:text="${author.authorName}"></span><br>
		<strong>著者コード</strong>
		<span th:text="${author.authorCode}"></span><br>
		<strong>著者メール</strong>
		<span th:text="${author.authorMail}"></span><br>
		<strong>ホームページ</strong>
		<span th:text="${author.authorHomepage}"></span><br>
		<strong>所属</strong>
		<span th:text="${author.authorBelong}"></span><br>
		<hr>

		
<!--		<a th:href="@{}">戻る-->

	</div>
	
	

</body>
</html>