<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
<meta charset="UTF-8">
<title title th:text="${bookDetail.bookName}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="~{fragments/header :: pageHeader}"></div>
	<h1 th:text="${bookDetail.bookName}">書籍名</h1>
	
	<hr>
	<div>
		<strong>書籍名:</strong>
		<span th:text="${bookDetail.bookName}"></span><br>
		<strong>著者</strong>
		<span th:text="${bookDetail.authorName}"></span><br>
		<strong>出版社</strong>
		<span th:text="${bookDetail.publishCompany}"></span><br>
		<strong>出版日時</strong>
		<span th:text="${bookDetail.publishDate}"></span><br>
		<strong>ISBN</strong>
		<span th:text="${bookDetail.isbn}"></span><br>
		<hr>
		<strong>本の概要</strong>
		<p th:text="${bookDetail.bookSummary}"></p>
		
<!--		<a th:href="@{}">戻る-->

	</div>
	
	

</body>
</html>