<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>予約一覧</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
	<div th:replace="~{fragments/header :: pageHeader}"></div>
	<h1>あなたの予約一覧</h1>

	<hr>

	<div th:unless="${reservations.isEmpty()}">
		<table>
			<thead>
				<tr>
					<th>書籍名</th>
					<th>著者名</th>
					<th>受取図書館</th>
					<th>予約日</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="r : ${reservations}">
					<td>
						<a th:href="@{/books/{isbn}(isbn=${r.isbn})}" th:text="${r.bookName}"></a>
					</td>
					<td>
						<a th:href="@{/author/{code}(code=${r.authorCode})}" th:text="${r.authorName}"></a>
					</td>
					<td th:text="${r.libraryName}"></td>
					<td th:text="${#temporals.format(r.reserveDate,'yyyy-MM-dd HH:mm')}"></td>
					<td>
						<a th:href="@{/reserveList/{id}(id=${r.reserveId})}">詳細へ</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	<div th:if="${reservations.isEmpty()}">
		<p>現在予約中の書籍はありません。</p>
	</div>

</body>

</html>